# Generate a random string, or roll your face on the keyboard to fill this value:
SESSION_SECRET=

# Get this on the Pi Developer Portal (develop.pi in the Pi Browser)
PI_API_KEY= 50e8f827d0c8cb2d18ad0f5581d248be9925ad24cf7d4a1be56ba53d170c3e080c72d93b92a69395bbfe0b1832fd805b4d45dec163d9a2915cf7f1253a9cea7e

# Platform API 
PLATFORM_API_URL=https://api.minepi.com

# MongoDB database connection details:
MONGO_HOST=localhost:27017
MONGODB_DATABASE_NAME=demoapp-development
MONGODB_USERNAME=demoapp
MONGODB_PASSWORD=dev_password

# Frontend app URL
FRONTEND_URL=http://localhost:3314
